<%- include("partial/header") %>

<h1>About Code Blog</h1>
<p>
  Hello, Code Blog User!It is a websie for enthusiastic people, who are eager
  about new technologies and concepts. Here, I share with you the futuristic
  information from the world of technology.
</p>

<div class="container">
  <!-- Example row of columns -->

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <img
        src="/images/aman.jpg"
        alt="aman-dp"
        class="dp"
        style="border-radius: 10rem; height: 20rem; width: 20rem"
      />
      <h2>Mohd Aman Ansari</h2>
      <p>
        I started my journey as an android developer creating a food delivery
        app. Later spread my wings in the field of website development. Always
        been a coder I aim to fulfill my wish of working in my dream company
        "Microsoft" and contribute to this giant tech world. <br />
        <i class="fas fa-envelope"></i
        ><a href="mailto:mdaman5797@gmail.com"> Mail</a><br />
        <i class="fab fa-facebook-square"></i>
        <a
          target="_blank"
          href="https://www.facebook.com/profile.php?id=100008088581885"
        >
          Facebook
        </a>
        <br />
        <i class="fab fa-linkedin"></i
        ><a
          target="_blank"
          href="https://www.linkedin.com/in/aman-ansari-1420101b2/"
        >
          LinkedIn
        </a>
      </p>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<%- include("partial/footer") %>
